.actions{
    position: absolute;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-50%);
    min-width: 60px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    background: #0b75fff6;
    border-radius: 5px;
    z-index: 1;
    bottom: 60px;
    display: none;
}
.playing{
    left: 7%;
}
.next.ten{
    left: 7%;
}
.next{
    left: 10%;
}
.mute{
    left: 16%;
}
.cc{
    right: 5%;
}
.speed{
    right: 5%;
}
.pip{
    right: -4%;
}
.fulscreen{
    right: -6%;
}
@media (max-width:670px) {
    .playing{
        left: 10%;
    }
}